.movies {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  background-color: black;
}

.list {
  width: 100%;
}

.listHidden {
  display: none;
}

.movie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 420px;
  width: 240px;
  margin: 10px auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 667px) {
  .movies {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .list, .listHidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow-x: auto;
  }

  .movie {
    margin: 10px;
  }
}
