.movie {
    position: relative;
    display: flex;
    flex-flow: row-reverse nowrap;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 100%;
    min-width: 667px;
    overflow-y: auto; 
}

.cover {
    height: 320px;
    min-height: 320px;
    max-height: 320px;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}

.exitButton {
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
    size: 4rem;
}